.main__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box1,.box2,.box3{
    height: max-content;
    min-height: 300px;
    width: 250px;
    border: 3px solid gray;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px;
}
.element{
    width: 90%;
    height: 70px;
    background-color: green;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: white;
    margin: 5px 0px;
}